{% extends 'base.html.twig' %}

{% block title %}Liste des vidéos{% endblock %}

{% block body %}
    <div class="titre"><h1>Netflux</h1></div>
        <h2>Liste des videos</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Vidéo</th>
                <th>Catégorie</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for video in videos %}
            <tr>
                <td>{{ video.title }}</td>
                <td>{{ video.link }}</td>
                <td>{{ video.category }}</td>
                <td>{{ video.added_date }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
    
    
    
    
    
{% endblock %}