
@import "bootstrap/scss/bootstrap";

div {
    text-align: start;
    color:rgb(249, 8, 8);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
h2 {
    text-align: center;
    color:antiquewhite
}
body {
    background-color: rgb(2, 0, 7);      
}
table {
    text-align: center;
    background-color: rgb(226, 222, 240); 
    
}

